version: '3'
services:
 rmqnamesrv:
  image: apache/rocketmq:4.9.4
  container_name: rmqnamesrv
  restart: always
  ports:
   - "9876:9876"
   - "7999:7999"
  command: sh mqnamesrv
  volumes:
   - ./logs/namesrv:/root/logs
   - ./data/namesrv:/root/store
 rmqbroker:
  image: apache/rocketmq:4.9.4
  container_name: rmqbroker
  restart: always
  ports:
   - "10911:10911"
   - "10909:10909"
  command: sh mqbroker -c ../conf/broker.conf
  environment:
   - NAMESRV_ADDR=namesrv:9876
  volumes:
   - ./logs/broker:/root/logs
   - ./data/broker:/root/store
  depends_on:
   - rmqnamesrv
 eventmesh:
  image: shaowenchen/eventmesh:latest
  container_name: eventmesh
  restart: always
  ports:
   - "10000:10000"
   - "10105:10105"
   - "10106:10106"
   - "10205:10205"
   - "19090:19090"
  volumes:
    - ./conf/eventmesh.properties:/data/app/eventmesh/conf/eventmesh.properties
    - ./conf/rocketmq-client.properties:/data/app/eventmesh/conf/rocketmq-client.properties
    - ./logs/eventmesh:/data/app/eventmesh/logs
  depends_on:
    - rmqnamesrv
    - rmqbroker
 eventmesh-dashboard:
  image: shaowenchen/eventmesh-dashboard:latest
  container_name: eventmesh-dashboard
  restart: always
  ports:
   - "80:80"
  depends_on:
    - eventmesh
